<nav>
    <div class="nav-wrapper blue-grey darken-1" >
      <%= link_to "Ayman's Blog", root_path, class:"brand-logo center" %>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
      <%= link_to "My Friends", home_friends_path, class:"left hide-on-med-and-down" %>
        
        <li><a href="#">ToDos</a></li>
      </ul>
    </div>
  </nav>

 